
{
    "results":[
        {
            "hits":[
                {
                    "title":"ADIDAS | KID'S STAN SMITH",
                    "handle":"adidas-kids-stan-smith",
                    "updated_at":"2021-04-04T08:00:35.000Z",
                    "vendor":"ADIDAS",
                    "product_type":"SHOES",
                    "template_suffix":null,
                    "id":6619834089650,
                    "_tags":[
                        "id:6619834089650",
                        "indexing_token:5b218abba098f19be05ce5d5d5bc1c38"
                    ],
                    "tags":[
                        "adidas",
                        "egnition-sample-data",
                        "kid"
                    ],
                    "option_names":[
                        "size",
                        "color"
                    ],
                    "variants_count":2,
                    "variants_inventory_count":12,
                    "variants_min_price":90.0,
                    "variants_max_price":90.0,
                    "product_image":"https://cdn.shopify.com/s/files/1/0551/8947/1410/products/7883dc186e15bf29dad696e1e989e914.jpg?v=1617523160",
                    "created_at":"2021-04-04T07:59:20.000Z",
                    "published_at":"2021-04-04T07:59:19.000Z",
                    "body_html_safe":"The Stan Smith owned the tennis court in the '70s. Today it runs the streets with the same clean,
                        classic style. These kids' shoes preserve the iconic look of the original,
                        made in leather with punched 3-Stripes,
                        heel and tongue logos and lightweight step-in cushioning.",
                    "sku":"AD-02-white-1",
                    "barcode":null,
                    "option1":"1",
                    "option2":"white",
                    "option3":null,
                    "position":1,
                    "requires_shipping":true,
                    "taxable":true,
                    "inventory_management":"shopify",
                    "inventory_policy":"deny",
                    "inventory_quantity":3,
                    "variant_title":"1 / white",
                    "inventory_management_shopify":1,
                    "inventory_available":true,
                    "options":{
                        "size":"1",
                        "color":"white"
                    },
                    "price":90.0,
                    "compare_at_price":0.0,
                    "price_ratio":0,
                    "price_range":"75:100",
                    "grams":0,
                    "weight":"0.0lb",
                    "image":"https://cdn.shopify.com/s/files/1/0551/8947/1410/products/7883dc186e15bf29dad696e1e989e914.jpg?v=1617523160",
                    "named_tags":{
                        
                    },
                    "named_tags_names":[

        ],
        "objectID":"39616860848306",
        "_snippetResult":{
        "body_html_safe":{
        "value":"The <span class=bg-blue-200>Stan</span> <span class=bg-blue-200>Smit</span>h owned the tennis court in the '70s",
        "matchLevel":"full"
        }
        },
        "_highlightResult":{
        "title":{
        "value":"ADIDAS | KID'S <span class=bg-blue-200>STAN</span> <span class=bg-blue-200>SMIT</span>H",
        "matchLevel":"full",
        "fullyHighlighted":false,
        "matchedWords":[
        "stan",
        "smit"
        ]},
        "handle":{
        "value":"adidas-kids-<span class=bg-blue-200>stan</span>-<span class=bg-blue-200>smit</span>h",
        "matchLevel":"full",
        "fullyHighlighted":false,
        "matchedWords":[
        "stan",
        "smit"
        ]},
        "vendor":{
        "value":"ADIDAS",
        "matchLevel":"none",
        "matchedWords":[
        
        ]},
        "product_type":{
        "value":"SHOES",
        "matchLevel":"none",
        "matchedWords":[
        
        ]},
        "tags":[
        {
        "value":"adidas",
        "matchLevel":"none",
        "matchedWords":[
        
        ]},
        {
        "value":"egnition-sample-data",
        "matchLevel":"none",
        "matchedWords":[
        
        ]},
        {
        "value":"kid",
        "matchLevel":"none",
        "matchedWords":[
        
        ]}
        ],
        "body_html_safe":{
        "value":"The <span class=bg-blue-200>Stan</span> <span class=bg-blue-200>Smit</span>h owned the tennis court in the '70s. Today it runs the     streets with the same clean,
         classic style. These kids' shoes preserve the iconic look of the original,
         made in leather with punched 3-Stripes,
         heel and tongue logos and lightweight step-in cushioning.",
        "matchLevel":"full",
        "fullyHighlighted":false,
        "matchedWords":[
        "stan",
        "smit"
        ]},
        "sku":{
        "value":"AD-02-white-1",
        "matchLevel":"none",
        "matchedWords":[
        
        ]},
        "variant_title":{
        "value":"1 / white",
        "matchLevel":"none",
        "matchedWords":[
        
        ]}
        }
    }
    ]
}
