<!-- 'snippets/custom-hero.liquid' start -->
{%- comment -%}
    This file is used alongside various homepage hero sections to provide a file for editing the HTML of the hero text content in a single place.
{%- endcomment -%}

<h1 class="text-gray-50">
    <span class="block text-2xl tracking-wide">
      Check out this
    </span>
    <span class="block py-2 text-4xl font-semibold text-blue-500 md:text-6xl">
      Hard Coded Header Content
    </span>
  </h1>
  <p class="text-xl tracking-wide">Just go edit <span class="inline-block px-1 font-mono tracking-widest border-gray-100 border-solid">'snippets/custom-hero.liquid'</span> with all your custom header content HTML</p>

<!-- 'snippets/custom-hero.liquid' end -->