{%- comment %}
    Renders a list of menu items
    Accepts:
    - linklist: {Object} Linklist Liquid object (required)
    - wrapper_class: {String} CSS wrapper class for the navigation (optional)

    Usage:
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
{% endcomment -%}

  {%- for link in linklists[linklist].links -%}
    {%- assign child_list_handle = link.title | handleize -%}

        <a href="{{ link.url }}"
          class="flex-auto {%- if link.active %} font-semibold tracking-wide{%- endif -%}"
          {%- if link.current %} aria-current="page"{%- endif -%}>
          {{ link.title | escape }}
        </a>
  {% endfor %}
</ul>
