<!-- cart-drawer.liquid.start -->

<div class="fixed top-0 left-0 w-1/6 h-screen bg-black bg-opacity-40 backdrop-filter backdrop-blur-sm z-[15] md:w-2/3 transform"
     x-show="cartOpen"
     x-transition:enter="transition-all duration-500 ease-out"
     x-transition:enter-start="!w-full !bg-opacity-0 !backdrop-blur-0"
     x-transition:leave="transition-all duration-300 ease-in"
     x-transition:leave-end="!w-full !bg-opacity-0 !backdrop-blur-0"
     x-cloak></div>

<div class="fixed top-0 right-0 w-5/6 md:w-1/3 h-screen bg-gray-50 transform overflow-y-scroll z-20 pt-20 border-l shadow-2xl px-4 
            {%- if section.settings.glass %} bg-opacity-60 backdrop-filter backdrop-blur border-white border-opacity-20{%- endif -%}"
    x-show="cartOpen"
    x-transition:enter="transition-all duration-500 ease-out"
    x-transition:enter-start="!translate-x-full"
    x-transition:leave="transition-all duration-300 ease-in"
    x-transition:leave-end="!translate-x-full"
    @click.away="cartOpen = false"
    x-cloak></div>

<!-- cart-drawer.liquid.end -->

{% schema %}
{
    "name": "Cart Drawer",
    "settings": [
        {
            "type": "paragraph",
            "content": "The Cart Drawer requires that 'Use Cart Drawer' be toggled to true in the Theme Settings > Layout Options. With that toggled false, the cart drawer will not be used."
        },
        {
            "type": "checkbox",
            "id": "glass",
            "label": "Transparent Background",
            "default": false
        },
        {
            "type": "header",
            "content": "Free Shipping Threshold",
            "info": "This Free Shipping Threshold is only for indicating to users when they can qualify for free shipping. Free shipping at price thresholds needs to be implemented properly in Shopify's Shipping settings to actually offer free shipping."
        },
        {
            "type": "checkbox",
            "id": "freeShippingThreshold",
            "label": "Show Free Shipping Threshold Information",
            "default": true
        },
        {
            "type": "number",
            "id": "priceThreshold",
            "label": "Cart Value at which Free Shipping Applies",
            "default": 40,
            "info": "Numeric Value without currency marker. Whole Numbers as Decimals allowed."
        },
        {
            "type": "number",
            "id": "estimatedShipping",
            "label": "Estimated Shipping",
            "default": 5,
            "info": "Shipping Value Customer can expect to pay if free shipping threshold is not met"
        }
    ]
}
{% endschema %}