<!-- 'sections/newsletter.liquid' START -->

<style>
#shopify-section-{{ section.id }} {
    {%- case section.settings.cardStyle -%}
    {%- when 'full' -%}
	        margin-left: auto;
	        margin-right: auto;
            width: 100%;
            --tw-bg-opacity: 1;
            background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
            --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    {%- when 'smCard' -%}
	    margin-left: auto;
	    margin-right: auto;
        max-width: 640px;
        border-radius: 0.375rem;
        --tw-bg-opacity: 1;
        background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    {%- when 'mdCard' -%}
	    margin-left: auto;
	    margin-right: auto;
        max-width: 768px;
        border-radius: 0.375rem;
        --tw-bg-opacity: 1;
        background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    {%- when 'lgCard' -%}
	    margin-left: auto;
	    margin-right: auto;
        max-width: 1024px;
        border-radius: 0.375rem;
        --tw-bg-opacity: 1;
        background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    {%- endcase -%}
}
</style>

<div class="w-1/2 p-8 mx-auto text-center">Enter Your EMAIL!!!</div>

<!-- 'sections/newsletter.liquid' END -->


{% schema %}
{
    "name": "Inline Email Capture",
    "settings": [
        {
            "type": "header",
            "content": "Email Tracking Data",
            "info": "Information Necessary for Hooking up your Email Service Provider"
        },
        {
            "type": "select",
            "id": "cardStyle",
            "label": "Newsletter Display Style",
            "default": "full",
            "options": [
                {
                    "value": "full",
                    "label": "Full Width",
                    "group": "Simple"
                },
                {
                    "value": "smCard",
                    "label": "Small Card",
                    "group": "Card"
                },
                {
                    "value": "mdCard",
                    "label": "Medium Card",
                    "group": "Card"
                },
                {
                    "value": "lgCard",
                    "label": "Large Card",
                    "group": "Card"
                }
            ]
        },
        {
            "type": "select",
            "id": "emailProvider",
            "label": "Email Service Provider",
            "options": [
                {
                    "value": "klaviyo",
                    "label": "Klaviyo"
                },
                {
                    "value": "activeCampaign",
                    "label": "Active Campaign"
                },
                {
                    "value": "custom",
                    "label": "Other (Use Box Below)"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Promotional",
            "name":"Inline Email Capture"
        }
    ]
}
{% endschema %}