@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
.scroll-pad-36 {
      scroll-padding-top: 9rem;
    }
.scroll-pad-28 {
      scroll-padding-top: 7rem;
    }
  }
}

html {
  scroll-behavior: smooth;
}

img.lazyload,img.lazyloading, img.lazyloaded {
  @apply transition-all duration-300 ease-out
}

img.lazyload,img.lazyloading {
  @apply  opacity-0 animate-pulse bg-gray-300
}

img.lazyloaded {
  @apply opacity-100
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

progress.cartBar {
  @apply appearance-none
}
progress.cartBar[value]::-webkit-progress-bar {
  @apply bg-gray-50 bg-opacity-50 rounded-sm shadow-inner
}
progress.cartBar[value]::-webkit-progress-value {
  @apply rounded-sm transition-all duration-[2500ms] ease-out bg-gradient-to-b from-truegray-400 to-truegray-700 bg-blend-luminosity bg-cta-600;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress.cartBar[value]::-moz-progress-bar {
  @apply rounded-sm transition-all duration-[2500ms] ease-out bg-gradient-to-b from-truegray-400 to-truegray-700 bg-blend-luminosity bg-cta-600;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.non-critical-hide {
  @apply block;
}

.main-critical-hidden > * {
  @apply block;
}

.main-critical-hidden > :first-child {
  @apply block visible opacity-100
}

.index-banner {
  @apply visible block opacity-100
}

.newsletter-section {
  & h2 {
    @apply text-xl
  }

  & p {
    @apply text-base py-4
  }
}
